<!DOCTYPE html>
<html>
  <head>
    <title>YelpCamp</title>
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/materia/bootstrap.min.css" rel="stylesheet" integrity="sha384-1tymk6x9Y5K+OF0tlmG2fDRcn67QGzBkiM3IgtJ3VrtGrIi5ryhHjKjeeS60f1FA" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/landing.css" />
  </head>
  <body>
    <div class="container">
      <% if(error && error.length > 0){ %>
      <div class="alert alert-danger" role="alert">
        <%= error %>
      </div>
      <% } %> <% if(success && success.length > 0){ %>
      <div class="alert alert-success" role="alert">
        <%= success %>
      </div>
      <% } %>
    </div>

    <div id="landing-header">
      <h1>Welcome to YelpCamp!</h1>
      <a href="/campgrounds" class="btn btn-md btn-outline-warning"
        >View All Campgrounds</a
      >
    </div>

    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>  
</body>
</html>