<%- include("partials/header") %>

<div class="row">
  <div class="col-md-12">
    <form class="form-signin" action="/register" method="POST">
      <h1 class="h3 mb-3 font-weight-normal">Sign up!</h1>
      <label for="inputUsername" class="sr-only">Username</label>
      <input
        type="text"
        id="inputUsername"
        class="form-control"
        name="username"
        placeholder="Username"
        required
        autofocus
      />
      <label for="inputPassword" class="sr-only">Password</label>
      <input
        type="password"
        id="inputPassword"
        class="form-control"
        name="password"
        placeholder="Password"
        required
      />
      <label for="confirmPassword" class="sr-only">Confirm Password</label>
      <input
        class="form-control"
        type="password"
        id="confirm"
        placeholder="Confirm Password"
        required
      />
      <label for="adminCode" class="sr-only">Admin Code</label>
      <input
        class="form-control"
        type="text"
        name="adminCode"
        placeholder="Admin code (Optional) "
      />
      <button class="btn btn-lg btn-primary btn-block" type="submit">
        Sign up
      </button>
    </form>
    <div class="form-signin">
      <a href="/campgrounds">Go Back</a>
    </div>
  </div>
</div>

<script>
  let password = document.getElementById("inputPassword");
  let confirmPassword = document.getElementById("confirm");
  function validate() {
    if (password.value != confirmPassword.value) {
      console.log(password.value, confirmPassword.value);
      confirmPassword.setCustomValidity("Password don't match");
    } else {
      confirmPassword.setCustomValidity("");
    }
  }
  password.onchange = validate;
  confirmPassword.onkeyup = validate;
</script>
<%- include("partials/footer") %>
