<%- include("../partials/header") %>

<div class="row justify-content-center">
  <div class="col-md-12 text-center">
    <h1>Create a New Campground</h1>
  </div>
  <div class="col-xs-12 col-md-6 col-lg-4">
    <form action="/campgrounds" method="POST" id="campground">
      <div class="form-group">
        <input
          class="form-control"
          type="text"
          placeholder="Name"
          name="name"
        />
      </div>
      <div class="form-group">
        <input
          class="form-control"
          type="number"
          placeholder="Cost"
          name="cost"
          min="0.01"
          step="0.01"
        />
      </div>
      <div class="form-group">
        <input
          class="form-control"
          type="text"
          placeholder="Image url (ending with .jpg,.jpeg,.png, or .gif)"
          name="image"
          id="imageURL"
        />
      </div>
      <div class="form-group">
        <textarea
          class="form-control"
          placeholder="Description"
          name="description"
          form="campground"
          cols="30"
          rows="5"
        ></textarea>
      </div>
      <div class="form-group">
        <label for="location">Location</label>
        <input
          class="form-control"
          type="text"
          name="location"
          id="location"
          placeholder="Yosemite National Park, CA"
        />
      </div>
      <div class="form-group">
        <button class="btn btn-lg btn-outline-primary btn-block">Submit</button>
      </div>
    </form>
    <a href="/campgrounds">Go Back</a>
  </div>
</div>

<script>
  let image = document.getElementById("imageURL");
  function validate() {
    if (image.value.match(/\.(jpeg|jpg|gif|png)$/) == null) {
      // console.log(password.value, confirmPassword.value);
      image.setCustomValidity("URL needs to end with .jpeg,.jpg,.png or .gif");
    } else {
      image.setCustomValidity("");
    }
  }
  image.onchange = validate;
</script>

<!-- prettier-ignore -->
<%- include("../partials/footer") %>
